body {
    background: #1B244A;
}

.base {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h1 {
color: #EEEEEE;
font-family: Verdana;
font-size: 40px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0em;
text-align: center;
}

@font-face {
    font-family: cursedTimerfont;
    src: url("fonts/CursedTimerUlil-Aznm.ttf");
}

#home-point {
    font-family: cursedTimerfont;
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 127px;
    text-align: center;
    color: #F94F6D;
    background-color: #080001;
    border-radius: 5px;
    width: 155px;
    height: 120px;
    margin: 21px 26px 26px 0;
}

#guest-point {
    font-family: cursedTimerfont;
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 127px;
    text-align: center;
    color: #F94F6D;
    background-color: #080001;
    border-radius: 5px;
    width: 155px;
    height: 120px;
    margin: 21px 26px 26px 0;
}

.footer {
    display: flex;
    justify-content: space-around;
}

button {
    font-family: cursedTimerfont;
    color: #9AABD8;
    background-color: #1B244A;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    box-sizing: border-box;
    width: 45px;
    height: 45px;
}